<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<h2>Add a sprint:</h2>
<%= form_for([@project, @project.sprints.build]) do |f| %>
  <p>
    <%= f.label :begin_date %>
    <%= f.text_field :begin_date %>
  </p>
  <p>
    <%= f.label :end_date %>
    <%= f.text_field :end_date %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
